
.App {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.Loading {
  text-align: center;
}


.Error {
  text-align: center;
}

.App-pagination {
  display: flex;
  justify-content: space-between;
}
